html{
  scroll-behavior: smooth;
}
body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  height: 100vh;
}
.--justify-center{
  justify-content: center;
}
.--show{
  display: none;
}
.--visibility{
  display: block;
}
